{% extends 'includes/master.html' %}
{% block css %}
<style>
 #loader {
            border: 12px solid #f3f3f3;
            border-radius: 50%;
            border-top: 12px solid #444444;
            width: 70px;
            height: 70px;
            animation: spin 1s linear infinite;
        }
          
        @keyframes spin {
            100% {
                transform: rotate(360deg);
            }
        }
        .center {
            margin-top: 25%;
            margin-left: 30%;
           
        }
</style>
{% endblock %}
{% block body %}
{% load static %}
<div id="loader" class="center"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card mt-3">
                <div class="card-body">
                    <div class="row">
                        <div>
                            <h3 class="text-center">Live Streaming</h3>
                        </div>
                    </div>
                    {% if messages %}
                    {% for message in messages %}
                        <div id="alertDiv" class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">{{ message }}</div>
                    {% endfor %}
                    {% endif %}
                    <div class="row">
                        {% if cam1 == 1 %}
                        <div class="col-xs-6 col-md-6 mt-5">
                            <h4 class="text-center">Camera 1</h4>
                            <img src="{% url 'cam1_video_feed' %}" width="100%">
                        </div>
                        {% endif %}
                        {% if cam2 == 1 %}
                        <div class="col-xs-6 col-md-6 mt-5">
                            <h4 class="text-center">Camera 2</h4>
                            <img src="{% url 'cam2_video_feed' %}" width="100%">
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    document.onreadystatechange = function() {
        if (document.readyState !== "complete") {
            document.querySelector(
              "body").style.visibility = "hidden";
            document.querySelector(
              "#loader").style.visibility = "visible";
        } else {
            document.querySelector(
              "#loader").style.display = "none";
            document.querySelector(
              "body").style.visibility = "visible";
        }
    };
</script>
<script type="text/javascript">
    $(document).ready( function() {
        $('#alertDiv').delay(3000).slideUp(1200);
    });
</script>
{% endblock %}